.flagSize {
    height: 16px;
}
.iconSizeHome {
    height: 24px;
    font-size: 24px;
}
.jumboTron {
    background-color: black;
    text-align: center;
}
.SpImage {
    height: 500px;
}
.photoImage {
    height: 700px;
}
.interpretImage {
    height: 200px;
}
.linkColor {
    color: black;
}
.linkColor:hover {
    color: red;
}
.titleHover:hover {
    cursor:pointer;
}
.cardImage {
    height: 200px;
    object-fit: cover;
}

.cardHover:hover {
    cursor:pointer;
}