.flagSize {
    height: 16px;
}
.iconSizeHome {
    height: 24px;
    font-size: 24px;
}
.jumboTron {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.responsive-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .responsive-image {
        max-height: 300px; /* Adjust as needed */
    }
}

.SpImage {
    height: 500px;
}
.photoImage {
    height: 700px;
}
.interpretImage {
    height: 200px;
}
.sealImage {
    height: 200px;
}
.linkColor {
    color: black;
}
.linkColor:hover {
    color: red;
}
.titleHover:hover {
    cursor:pointer;
}
.cardImage {
    height: 200px;
    object-fit: cover;
}

.cardHover:hover {
    cursor:pointer;
}